<form id='vssConfig' class="form-horizontal" action='javascript:generate("vpc")'>

  <div class="form-group">
    <label for="vpc-interface1" class="col-sm-4 control-label">vPC Interface 1</label>
    <div class="col-sm-3">
      <input type="text" class="form-control input-sm vpc-interfaces" name='vpc-interface1' >
    </div>
  </div>

  <div class="form-group">
    <label for="vpc-interface2" class="col-sm-4 control-label">vPC Interface 2</label>
    <div class="col-sm-3">
      <input type="text" class="form-control input-sm vpc-interfaces" name='vpc-interface2' >
    </div>
  </div>

  <div class="form-group">
    <label for="vpc-peer-keepalive" class="col-sm-4 control-label">vPC Peer Keepalive </label>
    <div class="col-sm-3">
      <input type="text" class="form-control input-sm vpc-peer-keepalive" name='vpc-peer-keepalive' >
    </div>
  </div>

  <div class="form-group">
    <label for="cidr" class="col-sm-4 control-label">CIDR Subnet Mask</label>
    <div class="col-sm-3">
      <input type="text" class="form-control input-sm skip cidr" name='cidr' placeholder="192.168.10.0/30">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </div>
</form>
